{
  "extends": "stylelint-config-standard",
  "rules": {
    "number-leading-zero": "never",
    "selector-no-qualifying-type": [
      true,
      {
        "severity": "warning"
      }
    ],
  }
}

