.layout {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: var(--dark-grey);
}

.layout--gradient {
  background: linear-gradient(-75deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 60s ease infinite;
}

.layout__header-logo {
  margin: 4rem;
  width: 25rem;
}

.layout__header-logo-path {
  box-shadow: var(--grey-shadow);
}

.layout__body {
  flex: 1;
}

.layout__footer {
  background: var(--dark);
  height: 10rem;
  display: flex;
  justify-content: center;
}

.layout__footer-logo {
  height: 100%;
  width: 15rem;
}

@media (--desktop) {
  .layout__header-logo {
    width: 25rem;
  }

  .layout__footer {
    height: 7rem;
  }

  .layout__footer-logo {
    width: 10rem;
  }
}

@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

