.header {
  height: auto;
  display: flex;
  justify-content: flex-start;
  z-index: 5;
}

.header--background {
  background: var(--purple-gradient);
  box-shadow: var(--grey-shadow);
}

@media (--desktop) {
  .header {
    height: 10rem;
  }
}
